<div class="main-wrapper">
  <h1 class="title">Please select news category</h1>
  <div class="categories">
    <a routerLink="/articles/general" class="category general"><span>general</span></a>
    <a routerLink="/articles/business" class="category business"><span>business</span></a>
    <a routerLink="/articles/entertainment" class="category entertainment"><span>entertainment</span></a>
    <a routerLink="/articles/health" class="category health"><span>health</span></a>
    <a routerLink="/articles/science" class="category science"><span>science</span></a>
    <a routerLink="/articles/technology" class="category technology"><span>technology</span></a>
  </div>
</div>
